/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}  */

// -----------SASS code----------

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  box-sizing: inherit;
}

html {
  /* font-size: 10px; */
  /* converting into percentage, 10px/16*100 = 62.5%  */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
